.table-container {
    width: 80%;
    height: auto;
    max-height: 600px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color:  #F4F4F4;
    border-radius: 10px;
    margin: 8rem auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table {
    width: 100%;
    height: auto;
    max-height: 500px;
    border-collapse: collapse;
}

.table th {
    padding: 20px;
}

ion-icon {
    font-size: 1.5rem;
}