.body {
    width: 100vw;
    height: 100vh;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    width: 80%;
    height: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    padding: 5px;
}

.table td {
    padding: 15px;
    text-align: center;
}

.table tr{
    min-height: auto;
    margin-bottom: 2rem;
}

tr:nth-child(odd) {
    background-color: #F4F4F4;
  }