.input {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

input {
   padding: 5px 0px 5px 20px;
   width: 70%;
   border: none;
   outline: none;
   border-bottom: 2px solid #58A4B0;
}

.input img {
    width: 18px;
    height: 18px;
}

