.container-products{
    display: flex;
    padding: 30px;
    width: 100%;
    margin: auto;
}

.sec-filters{
    flex: 1;
}

.sec-products{
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}