.card-product-cart {
  width: 800px;
  height: 40px;
  background-color: #fff;
  margin-top: 20px;
  padding-bottom: 140px;
  box-shadow: rgba(143, 143, 143, 0.345) 0px 5px 20px 10px;
  border-radius: 20px;
}

.card-products-cart-img img {
  width: 170px;
  height: 140px;
  border-radius: 20px;
  margin-top: 20px;
}

.card-products-cart-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-product-cart h2 {
  position: relative;
}

.card-products-cart-img p {
  margin-top: 23px;
}

@media screen and (max-width: 1150px) {
  .card-product-cart {
    width: 600px;
    height: 30px;
    background-color: #fff;
    margin-top: 20px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 1150px) {
  .card-product-cart {
    width: 500px;
    height: 25px;
    background-color: #fff;
    margin-top: 20px;
    padding-bottom: 100px;
  }

  .card-products-cart-img img {
    width: 130px;
    height: 100px;
  }
  .card-products-cart-img p {
    font-size: 15px;
  }
  .card-products-cart-img h2 {
    font-size: 17px;
    margin-top: 15px;
  } 
  .card-products-cart-img {
    display: flex;
    gap: 20px;
  } 
}