.container-card-product-cart {
  background-color: #fff;
  padding: 20px;
  border-top: 2px solid #333;

  display: flex;
  justify-content: space-around;
}

.card-product-cart{
  display: flex;
  gap: 100px;
  flex: 1;
}

.card-products-cart-img{
  width: 250px;
  height: 250px;
}

.card-products-cart-img img {
  width: 100%;
}

.card-product-cart-info{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-product-cart-info h2{
  font-size: 25px;
  margin-bottom: 20px;
  color: #57A2AE;
}

.card-product-cart-info p{
  font-size: 15px;
  text-align: justify;
}

.card-product-cart-controls a{
  text-decoration: none;
  color: #333;
}

.card-product-cart-controls a:hover{
  text-decoration: underline;
}


.price p{
  font-size: 20px;
  font-weight: 500;
}

.price p span{
  color: #029b02;
  font-weight: 700;
}
