.cart-title {
  margin-left: 140px;
}


.cart-section-div {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 300px;
}

.cart-section-div aside {
  height: 100vh;
}

.card-product-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.cart-section-div .cart-buy-list {
  background-color: #58a4b0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.cart-buy-list {
  font-family: "Montserrat", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px;
  color: #fff;
  font-weight: 600;
  margin-top: 25px;
  border-radius: 12px;
}

.cart-buy-list button {
  outline: none;
    background-color: #99fd99;
    border: 0;
    width: 100px;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 600;
    height: 25px;
    border-radius: 7px;
    color: #fff;
    font-size: 15px;
}

.cart-buy-list span {
    margin-left: 84px;
    padding-top: 30px;
}

.cart-buy-list ol {
  margin-left: 35px;
}
.cart-buy-list span {
margin-left: 80px;
}
.cart-buy-list button {
  margin-left: 80px;
}

@media screen and (max-width: 1000px) {
  .cart-section-div {
    display: flex;
    flex-direction: column;
  }

  .cart-list-aside {
    margin-top: 20px;
    width: 270px;
    margin-left: 320px;
  }
  .cart-buy-list ol {
    margin-left: 17px;
  }
  .cart-buy-list span {
  margin-left: 60px;
  }
  .cart-buy-list button {
    margin-left: 60px;
  }
  .cart-buy-list {
    height: 250px;
  }
  .cart-section-div aside {
    height: 50vh;
  }
  .cart-title {
    margin-left: 230px;
  }
}

@media screen and (max-width: 770px) {
  .cart-list-aside {
    margin-left: 220px;
  }
  .cart-title {
    margin-left: 170px;
  }
}

@media screen and (max-width: 600px) {
  .cart-list-aside {
    margin-left: 140px;
  }
  .cart-title {
    margin-left: 90px;
  }
}