body {
  margin: 0;
  padding: 0;
}

.navbar-main {
  list-style: none;
  color: #fff;
  background-color: #58a4b0;
  height: 60px;
  width: 100%;
  padding: 20px 10px;

  display: flex;  
  justify-content: space-around;
  align-items: center;
}

.company-name {
  font-weight: 500;
  align-self: center;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-ul {
  list-style: none;
  color: #fff;

  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-ul a {
  text-decoration: none;
  color: #fff;
  padding: 0px 10px;
}

.navbar-ul .links {
  font-size: 17px;
  color: #ffffffad;
  font-weight: 400;
  transition: 0.2s;
}

.navbar-ul .links:hover {
  transition: 0.2s;
  color: #ffffff;
  font-weight: 400;
}

.input-search-term {
  outline: none;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  padding: 8px 5px 8px 20px;
  width: 25%;
  font-size: 13px;
  font-weight: 500;
}

.cart-icon {
  color: #fff;
  font-size: 30px;
  align-self: center;
  vertical-align: middle;
}

.log-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.account{
  display: flex;
  align-items: center;
  gap:10px;
  font-size: 18px;
  font-weight: 500;
}

.account a{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.react-icon-cart,
.react-icon-account{
  font-size: 30px;
}

.btnLogIn, #admin{
  background-color: #fff;
  color: #58a4b0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}


.btnLogOut{
  background-color: #fff;
  color: #58a4b0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}